{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}{{ post.title }} :: {{ block.super }}{% endblock %}

{% block content %}

<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <div class="single-img">
                                    {% if post.photo %}
                                        <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                                    {% else %}
                                        <img src="{% static 'img/no-image.jpeg'%}" alt="{{ post.title }}" width="300">
                                    {% endif %}
                                </div>
                                <h2>{{ post.title }}</h2>
                                <div class="single-content">
                                    <div class="single-info">
                                        <span>Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
                                        <br>
                                        {% if post.tags.exists %}
                                        <span>
                                            Tags:
                                            {% for tag in post.tags.all %}
                                            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                            {% endfor %}
                                        </span>
                                        <br>
                                        {% endif %}
                                        <span>Views: {{ post.views }}</span>
                                    </div>
                                    {{ post.content|safe }}
                                </div>
                            </div>

                            <div class="commententries">
                                <h3>Comments</h3>
                                <ul class="commentlist">
                                    {% for comment in comments %}
                                    <li>
                                        <article class="comment">
                                            <section class="comment-details">
                                                <div class="author-name">
                                                    <h5><a>{{ comment.username }}</a></h5>
                                                    <p>{{ comment.created_at|date:"d F Y" }}</p>
                                                </div>
                                                <div class="comment-body">
                                                    <p>{{ comment.comment|safe }}</p>
                                                </div>
                                            </section>
                                        </article>
                                    <li>
                                    {% endfor %}
                                </ul>
                            </div>

                            {% if comments.has_other_pages %}
                                <div class="pagination pag-comment">
                                    <div class="nav-links">
                                        {% if comments.has_previous %}
                                            <a class="page-numbers" href="?page={{ comments.previous_page_number }}" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                        {% endif %}
                            
                                        {% for num in comments.paginator.page_range %}
                                            {% if num == comments.number %}
                                                <span class="page-numbers current">{{ num }}</span>
                                            {% elif num > comments.number|add:-4 and num < comments.number|add:4 %}
                                                <a class="page-numbers" href="?page={{ num }}">{{ num }}</a>
                                            {% endif %}
                                        {% endfor %}
                            
                                        {% if comments.has_next %}
                                            <a class="page-numbers" href="?page={{ comments.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            
                            
                            <form id="comment-form" method="post" action="{% url 'add_comment' post.id %}">
                                {% csrf_token %}
                                <div class="name">
                                    <input type="text" name="username" placeholder="Name" class="name">
                                    <span class="msg">{{ errors.username }}</span>
                                </div>
                                <div class="email">
                                    <input type="email" name="email" placeholder="Email" class="email">
                                    <span class="msg">{{ errors.email }}</span>
                                </div>
                                <div class="comment">
                                    <input type="text" name="comment" placeholder="Comment" class="comment">
                                    <span class="msg">{{ errors.comment }}</span>
                                </div>
                                <div class="post">
                                    <input type="submit" value="Add comment" disabled>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="newsletter">
                            <h2 class="sidebar-title">Search</h2>
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="s" id="" placeholder="Search...">
                                <input type="submit" value="Search">
                            </form>
                        </div>

                        {% get_popular 3 %}
  
                        {% get_tags %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


<script src="{% static 'js/comment.js'%}"></script>